Source: watchng
Section: python
Priority: extra
Maintainer: Leandro Lisboa Penz <lpenz@lpenz.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Browser: http://github.com/lpenz/watchng
Vcs-Git: git://github.com/lpenz/watchng.git
Homepage: http://github.com/lpenz/watchng

Package: watchng
Architecture: all
Depends: python, ${python:Depends}, ${misc:Depends}
Description: Runs a command periodically, showing output only when it changes.
 watchng is a program that runs the given command-line periodically, showing
 the output only when it is different than the last, along with the time.
